
    <h2>Aplicacion:</h2><p><br>
    {{aplicacion.codAplic}}<br>
    {{aplicacion.nombAplic}} <br>
    {{aplicacion.area.area}} <br>
    {{aplicacion.subArea.subarea}} <br>
    {{aplicacion.resp.responsable}}<br>
    {{aplicacion.tecn.tecnologia}}<br>
    {{aplicacion.criti.criticidad}}<br>
    {{aplicacion.volEvol.volumenEvolutivo}}<br>
    {{aplicacion.volUsu.volumenUsuarios}}<br>
    {{aplicacion.tipo.tipo}}<br>
    {{aplicacion.tecInt.tecnologiaInterfaz}}<br>
    </p>
    <h2>Situacion:</h2>
    <p>
    {{datosComunes[situacion.pro].valor}}<br>
    {{datosComunes[situacion.gruGit].valor}}<br>
    {{situacion.master}}<br>
    {{situacion.develop}}<br>
    {{datosComunes[situacion.actualizado].valor}}<br>
    {{situacion.produccion}}<br>
    {{situacion.despl.despliegue}}<br>
    {{situacion.was}}<br>
    {{situacion.maven.maven}}<br>
    {{situacion.pruebas.planPruebas}}<br>
    {{situacion.test.testing}}<br>
    {{situacion.inf.informes}}<br>
    {{situacion.terc.serviciosTerceros}}<br>
</p>
