<div class="row my-3">
    <h2 class="col-md-12 mb-2">Comentarios:</h2>
    <div class="col-md-12">
        <div *ngIf="datosComentario.length > 0; else noComentarios">
            <div class="card mb-3" *ngFor="let com of datosComentario">
                <div class="card-body">
                    <p class="card-text">{{ com.com }}</p>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <div class="card-text">
                    <form [formGroup]="comentarioForm">
                        <div class="row">
                            <div class="col-10">
                                <div class="form-floating">
                                    <input class="form-control" type="text" formControlName="comentario" id="comentario" placeholder="test">
                                    <label for="comentario">Nuevo Comentario</label>
                                </div>
                            </div>
                            <div class="col-2 d-flex justify-content-center align-items-center">
                                <div class="text-center">
                                    <button class="btn btn-success" type="button" [disabled]="!comentarioForm.valid" (click)="insertarComentario()">
                                        Añadir comentario
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <ng-template #noComentarios>
            <div class="card mb-3">
                <div class="card-body">
                    <p class="card-text">Sin comentarios</p>
                </div>
            </div>
        </ng-template>
    </div>
</div>