<form class="mt-2 mx-4">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="codigo-aplicacion" name="codigo" placeholder="test" required="true"/>
    <label for="codigo-aplicacion">Código de la aplicación</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="nombre-aplicacion" name="nombre" placeholder="test"/>
    <label for="nombre-aplicacion">Nombre de la aplicación</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" name="area" id="area-aplicacion" placeholder="test"/>
    <label for="area-aplicacion">Area de la Aplicación</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" name="subarea" id="subarea-aplicacion" placeholder="test"/>
    <label for="subarea-aplicacion">Subarea de la aplicacion</label>
  </div>


  <button type="submit" class="btn btn-primary">Crear aplicación</button>
</form>