mat-header-cell{
  font-weight: bold;
}
.table-light {
  background-color: #f7f7f7; 
  border-bottom: 1px solid #ddd; 
}

.table-light th {
  background-color: #f7f7f7; /* Color gris claro */
  border-bottom: 1px solid #ddd; /* Borde inferior gris */
  color: #333; /* Color de texto negro */
  font-weight: bold; /* Fuente negrita */
}
