<div class="container-fluid mt-2">
  <div class="row">
    <div class="col my-auto">
      <form [formGroup]="formGroup">
        <div class="form-floating my-auto">
          <input type="text" class="form-control" name="stringFiltro" placeholder="" formControlName="filter" id="filtro"/>
          <label for="filtro">Filtrar por...</label>
        </div>
      </form>
    </div>
    
    <div class="col-9 my-auto text-end">
      <button type="button" routerLink='/crear-app' class="btn btn-success my-auto mx-4">Crear nueva aplicación</button>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class="table-responsive mt-2 mx-2">
  <table class="table table-hover table-sm">
    <thead class="table-light">
      <tr>
        <th scope="col" [appSort]="datosTabla" data-order="desc" data-name="codAplic">Código Aplicación</th>
        <th scope="col" [appSort]="datosTabla" data-order="desc" data-name="nombAplic">Nombre Aplicación</th>
        <th scope="col" [appSort]="datosTabla" data-order="desc" data-name="nombArea">Nombre Área</th>
        <th scope="col" [appSort]="datosTabla" data-order="desc" data-name="subArea">Sub Área</th>
        <th scope="col" [appSort]="datosTabla" data-order="desc" data-name="resp">Responsable</th>
        <th scope="col" [appSort]="datosTabla" data-order="desc" data-name="tecn">Tecnología</th>
        <th scope="col" [appSort]="datosTabla" data-order="desc" data-name="criti">Criticidad</th>
        <th scope="col" [appSort]="datosTabla" data-order="desc" data-name="volEvol">Volumen Evolución</th>
        <th scope="col" [appSort]="datosTabla" data-order="desc" data-name="volUsu">Volumen Usuarios</th>
        <th scope="col" [appSort]="datosTabla" data-order="desc" data-name="tipo">Tipo</th>
        <th scope="col" [appSort]="datosTabla" data-order="desc" data-name="tecInt">Tecnología Integración</th>
        <th scope="col" colspan="2" class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let dato of datosFiltrados | async">
        <th scope="row">{{ dato.codAplic }}</th>
        <td>{{ dato.nombAplic }}</td>
        <td>{{ dato.area.area }}</td>
        <td>{{ dato.subArea.subarea }}</td>
        <td>{{ dato.resp.responsable }}</td>
        <td>{{ dato.tecn.tecnologia }}</td>
        <td>{{ dato.criti.criticidad }}</td>
        <td>{{ dato.volEvol.volumenEvolutivo }}</td>
        <td>{{ dato.volUsu.volumenUsuarios }}</td>
        <td>{{ dato.tipo.tipo }}</td>
        <td>{{ dato.tecInt.tecnologiaInterfaz }}</td>
        <td class="text-center">
          <button type="button" class="btn btn-outline-warning">
            <i class="bi bi-pen"></i>
          </button>
        </td>
        <td class="text-center">
          <button type="button" class="btn btn-outline-danger" (click)="borrarAplicacion(dato.codAplic)">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>