<div class="container-fluid mt-2">
  <div class="row">
    <div class="col my-auto">
      <div class="form-floating my-auto">
        <input type="text" class="form-control" #filterInput (keyup)="applyFilter(filterInput.value)" id="filtro">
        <label for="filtro">Filtrar por...</label>
      </div>
    </div>
    <div class="col-9 my-auto text-end">
      <button type="button" routerLink='/crear-app' class="btn btn-success my-auto mx-4">Crear nueva Aplicacion</button>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class="table-responsive mt-2 mx-2">
  <mat-table [dataSource]="dataSource" matSort>

    <!-- CodApli Column -->
    <ng-container matColumnDef="codAplic">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Codigo Aplicacion</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.codAplic}} </mat-cell>
    </ng-container>

    <!-- nombAplic Column -->
    <ng-container matColumnDef="nombAplic">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Aplicacion</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.nombAplic}} </mat-cell>
    </ng-container>

    <!-- area Column -->
    <ng-container matColumnDef="area">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Area</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.area}} </mat-cell>
    </ng-container>

    <!-- subArea Column -->
    <ng-container matColumnDef="subArea">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Subarea</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.subArea}} </mat-cell>
    </ng-container>

    <!-- resp Column -->
    <ng-container matColumnDef="resp">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Responsable</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.resp}} </mat-cell>
    </ng-container>

    <!-- tecn Column -->
    <ng-container matColumnDef="tecn">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Tecnologia</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.tecn}} </mat-cell>
    </ng-container>

    <!-- Crititcidad Column -->
    <ng-container matColumnDef="criti">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Criticidad</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.criti}} </mat-cell>
    </ng-container>

    <!-- volEvol Column -->
    <ng-container matColumnDef="volEvol">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Volumen Evolutivo</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.volEvol}} </mat-cell>
    </ng-container>

    <!-- volUsu Column -->
    <ng-container matColumnDef="volUsu">
      <mat-header-cell *matHeaderCellDef mat-sort-header>volumen Usuarios</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.volUsu}} </mat-cell>
    </ng-container>

    <!-- tipo Column -->
    <ng-container matColumnDef="tipo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.tipo}} </mat-cell>
    </ng-container>

    <!-- tecInt Column -->
    <ng-container matColumnDef="tecInt">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Tecnologia Interfaz</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.tecInt}} </mat-cell>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef class="d-flex justify-content-center">Acciones</mat-header-cell>
      <mat-cell *matCellDef="let row" class="d-flex justify-content-center">
        <button type="button" class="btn btn-outline-info boton-accion">
          <i class="bi bi-eye"></i>
        </button>
        <button type="button" class="btn btn-outline-warning boton-accion">
          <i class="bi bi-pen"></i>
        </button>
        <button type="button" class="btn btn-outline-danger boton-accion" (click)="borrarAplicacion(row.codAplic)">
          <i class="bi bi-trash"></i>
        </button>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
</div>