.mat-mdc-table tbody, .mat-mdc-table tfoot, .mat-mdc-table thead, .mat-mdc-cell, .mat-mdc-footer-cell, .mat-mdc-header-row, .mat-mdc-row, .mat-mdc-footer-row, .mat-mdc-table .mat-mdc-header-cell {
  background: none !important;
}

mat-header-cell{
  font-weight: bold;
}

mat-table {
  border: 1px solid lightgray;
  border-radius: 1em;
}