<h2 mat-dialog-class class="mt-4 ms-4">Nuevo Tipo</h2>

<mat-dialog-content>
    <p>Introduzca el nuevo tipo:</p>
    <form class="m-2 pt-2" [formGroup]="tipoForm">
        <div class="form-floating my-2">
            <input 
            required 
            type="text" 
            class="form-control" 
            id="nombre-tipo" 
            formControlName="nombreTipo" 
            placeholder=""
            [class.is-invalid]="tipoForm.get('nombreTipo')?.invalid && (tipoForm.get('nombreTipo')?.dirty || tipoForm.get('nombreTipo')?.touched)">
            <label for="nombre-tipo">Nombre del tipo</label>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close [mat-dialog-close]="false" class="btn btn-cancelar btn-outline-danger">Cancelar</button>
    <button 
    mat-button 
    mat-dialog-close 
    cdkFocusInitial 
    [mat-dialog-close]="true" 
    [disabled]="!tipoForm.valid" 
    class="btn btn-anadir btn-success" 
    (click)="insertarTipo()"> Insertar </button>
</mat-dialog-actions>
