<h2 mat-dialog-title class="m-4">Insertar Subarea</h2>
<mat-dialog-content>
    Introduzca el nombre del nuevo SubArea:
    <form class="mx-2 my-2 pt-2" [formGroup]="subareaForm" >
    <div class="form-floating my-2">
        <input type="text" class="form-control" id="nombre-subarea" formControlName="nombreSubArea"/>
        <label for="nombre-subarea">Nombre del subarea</label>
    </div>
</form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close [mat-dialog-close]="false"
        class="btn-cancelar btn btn-outline-danger">Cancelar</button>
    <button mat-button mat-dialog-close cdkFocusInitial [mat-dialog-close]="true"
        class="btn-borrar btn btn-success" (click)="insertarSubarea()">Insertar</button>
</mat-dialog-actions>
