<h2 mat-dialog-title class="mt-4 ms-4">Nueva Subarea</h2>

<mat-dialog-content>
    <p>Introduzca el nombre del nuevo SubArea:</p>
    <form [formGroup]="subareaForm">
        <div class="form-floating my-2">
            <input type="text" class="form-control" id="nombre-subarea" formControlName="nombreSubArea" placeholder=""/>
            <label for="nombre-subarea">Nombre del subarea</label>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close [mat-dialog-close]="false" class="btn-cancelar btn btn-outline-danger">Cancelar</button>
    <button mat-button mat-dialog-close cdkFocusInitial [mat-dialog-close]="true" class="btn-anadir btn btn-success" (click)="insertarSubarea()">
        Insertar
    </button>
</mat-dialog-actions>