<div class="container-fluid">
    <h1 class="mt-4 mx-2 pb-2">Inicia Sesión</h1>
    <form class="mx-2 my-2 pt-2" [formGroup]="loginForm">
        <div class="row">
            <div class="col-5">
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" formControlName="username" id="username" placeholder="" required>
                    <label class="mx-2" for="username">Nombre de Usuario/Email</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="password" class="form-control" formControlName="password" id="password" placeholder="" required>
                    <label class="mx-2" for="password">Contraseña</label>
                </div>
                <div class="form-floating mb-2 text-center">
                    <button class="btn btn-primary" (click)="login()" [disabled]="!loginForm.valid">Inicia sesión</button>
                </div>
            </div>
        </div>
    </form>
</div>