<!-- <h1>Login</h1>

<form (ngSubmit)="login()" class="form-horizontal" #loginForm="ngForm">
    <p>
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput id="username" type="text" name="username" class="form-control" [(ngModel)]="username" required>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput id="password" type="password" name="password" class="form-control" [(ngModel)]="password" required>
        </mat-form-field>
    </p>
    <p>
        <button mat-raised-button type="submit" [disabled]="!loginForm.form.valid">Login</button>
    </p>
</form>

<p>{{message}}</p> -->

<div class="container-fluid">
    <h1>Inicia Sesión</h1>

    <form class="mx-2 my-2 pt-2" [formGroup]="loginForm">
        <div class="row">
            <div class="form-floating">
                <input type="text" class="form-control" formControlName="username" id="username" placeholder="" required>
                <label for="username">Nombre de Usuarios</label>
            </div>
        </div>
    </form>
</div>