<div class="container-fluid">
    <h2 class="mt-4 mx-2 pb-2">Tabla de usuarios</h2>
</div>
<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-3 my-auto">
            <div class="form-floating my-auto">
                <input type="text" class="form-control" #filterInput (keyup)="applyFilter(filterInput.value)"
                    id="filtro">
                <label for="filtro">Filtrar por...</label>
            </div>
        </div>
    </div>
</div>

<div class="mt-2 mx-2">
    <mat-table [dataSource]="dataSource" matSort>

        <!-- id Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Id Usuario</mat-header-cell>
            <mat-cell *matCellDef="let id"> {{id.id}} </mat-cell>
        </ng-container>

        <!-- fullName Column -->
        <ng-container matColumnDef="fullName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Usuario</mat-header-cell>
            <mat-cell *matCellDef="let fullName"> {{fullName.fullName}} </mat-cell>
        </ng-container>

        <!-- email Column -->
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
            <mat-cell *matCellDef="let email"> {{email.email}} </mat-cell>
        </ng-container>

        <!-- role Column -->
        <ng-container matColumnDef="role">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Rol de usuario</mat-header-cell>
            <mat-cell *matCellDef="let role"> {{role.role}} </mat-cell>
        </ng-container>

        <!-- createdAt Column -->
        <ng-container matColumnDef="createdAt">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de creacion</mat-header-cell>
            <mat-cell *matCellDef="let createdAt"> {{createdAt.createdAt}} </mat-cell>
        </ng-container>

        <!-- updateAt Column -->
        <ng-container matColumnDef="updatedAt">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha ultima de modificacion</mat-header-cell>
            <mat-cell *matCellDef="let updatedAt"> {{updatedAt.updatedAt}} </mat-cell>
        </ng-container>

        <!-- Acciones Column -->
        <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef class="d-flex justify-content-center">Habilitado</mat-header-cell>
            <mat-cell *matCellDef="let row" class="d-flex justify-content-center ">
                <mat-slide-toggle (change)="row.enabled ? deshabilitar(row) : habilitar(row)" [checked]="row.enabled">
                </mat-slide-toggle>
            </mat-cell>
        </ng-container>



        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>



    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
</div>