<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-3 my-auto">
            <div class="form-floating my-auto">
                <input type="text" class="form-control" #filterInput (keyup)="applyFilter(filterInput.value)"
                    id="filtro">
                <label for="filtro">Filtrar por...</label>
            </div>
        </div>
    </div>
</div>

<div class="mt-2 mx-2">
    <mat-table [dataSource]="dataSource" matSort>
        <!-- fullName Column -->
        <ng-container matColumnDef="fullName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Usuario</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.fullName}} </mat-cell>
        </ng-container>

        <!-- email Column -->
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
        </ng-container>

        <!-- role Column -->
        <ng-container matColumnDef="role">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Rol de usuario</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.role}} </mat-cell>
        </ng-container>

        <!-- createdAt Column -->
        <ng-container matColumnDef="createdAt">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de creacion</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.createdAt}} </mat-cell>
        </ng-container>

        <!-- updateAt Column -->
        <ng-container matColumnDef="updateAt">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha ultima de modificacion</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.updateAt}} </mat-cell>
        </ng-container>

        <!-- enabled Column -->
        <ng-container matColumnDef="enabled">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Habilitado</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{datosComunes[row.enabled].valor}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>



    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
</div>