<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-md-4">
            <app-tabla-area></app-tabla-area>
        </div>
        <div class="col-md-4">
            <app-tabla-subarea></app-tabla-subarea>
        </div>
        <div class="col-md-4">
            <app-tabla-responsable></app-tabla-responsable>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <app-tabla-tecnologia></app-tabla-tecnologia>
        </div>
        <div class="col-md-4">
            <app-tabla-tipo></app-tabla-tipo>
        </div>
        <div class="col-md-4">
            <app-tabla-tecnologia-interfaz></app-tabla-tecnologia-interfaz>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <app-tabla-despliegue></app-tabla-despliegue>
        </div>
        <div class="col-md-4">
            <app-tabla-documentacion></app-tabla-documentacion>
        </div>
        <div class="col-md-4">
            <app-tabla-informes></app-tabla-informes>
        </div>
    </div>
</div>