<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-md-4">
            <app-tabla-area></app-tabla-area>
        </div>
        <div class="col-md-4">
            <app-tabla-subarea></app-tabla-subarea>
        </div>
        <div class="col-md-4">
            <app-tabla-responsable></app-tabla-responsable>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <app-tabla-tecnologia></app-tabla-tecnologia>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>
</div>