
<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-md-3">
            <app-tabla-area></app-tabla-area>
        </div>
        <div class="col-md-3">
            <app-tabla-subarea></app-tabla-subarea>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
    </div>
</div>
