<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="logo.png" alt="Bootstrap" width="30" height="30">
    </a>
    <a class="navbar-brand" routerLink="/">Formación</a>
        
          <a class="nav-link" routerLink="/aplicaciones" routerLinkActive="active"
            ariaCurrentWhenActive="page">Aplicaciones</a>
        
          <a class="nav-link" routerLink="/situaciones" routerLinkActive="active"
            ariaCurrentWhenActive="page">Situaciones</a>
        
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Perfil
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        
      
    
  </div>
</nav>
<router-outlet></router-outlet>