<mat-toolbar>
  <mat-toolbar-row>
    <a class="navbar-brand me-1" routerLink="/">
      <img src="logo.png" alt="Formacion" width="30" height="30">
    </a>
    <a class="navbar-brand me-4 fw-bold" routerLink="/"> Formación </a>
    @if(mostrar){
      <a class="nav-link" aria-current="page" routerLink="/aplicaciones" routerLinkActive="active" ariaCurrentWhenActive="page"> Aplicaciones </a>
      <a class="nav-link ms-3" routerLink="/situaciones" routerLinkActive="active" ariaCurrentWhenActive="page"> Situaciones </a>
      <a class="nav-link ms-auto me-0" routerLink="/usuarios" routerLinkActive="active" ariaCurrentWhenActive="page">Usuarios</a>
      <a class="nav-link ms-3 me-3" routerLink="/administracion" routerLinkActive="active" ariaCurrentWhenActive="page">Administración</a>
      <a class="btn btn-danger" (click)="cerrarSesion()">Cerrar sesión</a>
    }
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>