table {
    border-collapse: collapse;
    width: 100%;
  }
  
  /* Estilos para la cabecera de la tabla */
  thead {
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  /* Estilos para las celdas de la tabla */
  td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  /* Estilos para las filas pares e impares */
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:nth-child(odd) {
    background-color: #fff;
  }
  
  /* Estilos para el hover sobre las filas */
  tr:hover {
    background-color: #ccc;
    cursor: pointer;
  }