table {
    border-collapse: collapse;
    width: 100%;
  }
  
  /* Estilos para la cabecera de la tabla */
  thead th {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #333;
  }

  thead th:hover {
    background-color: #444;
    cursor: pointer;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f0f0f0;
  }
  
  /* Estilos para las filas pares e impares */
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Estilos para el hover sobre las filas */
  tr:hover {
    background-color: #ccc;
    cursor: pointer;
  }