<table>
    <thead>
      <tr>
        <th>Código Aplicación</th>
        <th>Nombre Aplicación</th>
        <th>Nombre Área</th>
        <th>Sub Área</th>
        <th>Responsable</th>
        <th>Tecnología</th>
        <th>Criticidad</th>
        <th>Volumen Evolución</th>
        <th>Volumen Usuarios</th>
        <th>Tipo</th>
        <th>Tecnología Integración</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dato of datos">
        <td>{{ dato.codAplic }}</td>
        <td>{{ dato.nombAplic }}</td>
        <td>{{ dato.nombArea }}</td>
        <td>{{ dato.subArea }}</td>
        <td>{{ dato.resp }}</td>
        <td>{{ dato.tecn }}</td>
        <td>{{ dato.criti }}</td>
        <td>{{ dato.volEvol }}</td>
        <td>{{ dato.volUsu }}</td>
        <td>{{ dato.tipo }}</td>
        <td>{{ dato.tecInt }}</td>
      </tr>
    </tbody>
  </table>